{% extends 'admin/change_list.html' %}
{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css"/>

<canvas id="myChart" width="400" height="50"></canvas>

<script src= "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"> </script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const chartData = {{ chart_data | safe }};
        let country_list = []
        let req_list = []
        chartData.forEach((v, i, arr) => {
            country_list.push(v.country)
            req_list.push(v.requests)
        })

        const ctx = document.getElementById('myChart');
        new Chart(ctx, {
          type: 'bar',
          data: {
            labels: country_list,
            datasets: [{
              label: 'Запросов по Странам',
              data: req_list,
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });
    });
    </script>

{{ block.super }}
{% endblock content %}
